.loginImage {
  max-width: 600px;
  max-height: auto;
}

.loginContainer {
  min-height: 100vh;
}

.loginBackground {
  background-image: url("../images/Bording Houses/jouline.png");
  background-repeat: no-repeat;
  min-width: 100vw;
}
